header{
    border: solid black 3px;
    height: 80px;
    background-color: rgb(71, 70, 70);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo{
    display: inline-block;
    margin-right: 70px;
}

a{
    border: thin black 3px;
    margin: 90px 90px 90px 90px;
    display: inline-block;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
}